body {
	min-height: 100vh;
	margin: 0;
	overflow: hidden;
}

.vertical_center{
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

#img_logo_login{
	float: left;
	position: relative;
	z-index: 9999;
	top: 50%;
	left: 50%;;
	transform: translate(-50%, -50%);
}

.copy_login{
	left: 15px !important;
}

.content{
	width: 50%;
	float: left;
	height: 100vh;
}
.img_fundo{
	width: 100%;
	height: 100vh;
	background-image: url('../lib/images/fundoLogin.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	/* Add the blur effect */
	filter: blur(3px);
	  -webkit-filter: blur(3px);
	position: relative;
	z-index: 0;
}
.form{
	.vertical_center{
		margin-left: 15px;
	}
}
#exampleWrapper{
	width: 26vw;
}

.flex_contet{
	justify-content: right;
}

.justify-center{
	width: 100%;
}